<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $style := resources.Get "css/style.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $article_style := resources.Get "css/article.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $article_style.Permalink }}">
    <meta name="description" content="{{ .Description }}">
    <meta name="og:type" content="article">
    <meta name="og:published_time" content="{{ .Date }}">
    <meta name="og:locale" content="en_GB">
    <meta name="og:title" content="{{ .Title }}">
    <meta name="og:description" content="{{ .Description }}">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Description }}">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Article",
          "headline": "{{ .Title }}",
          "author": {
            "@type": "Person",
            "name": "Benaissa Zaki",
            "url": "https://benaissazaki.com"
          },  
          "datePublished": "{{ .Date }}"
        }
    </script>
    <title>{{ .Title }}</title>
</head>

<body>
    <main>
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Blog</li>
            <li>{{ .Title }}</li>
        </ul>
        <article>
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </article>
    </main>
    <footer>
        <div id="credits">
            Made with 🗿 by <strong>Zaki Benaissa</strong>
        </div>
    </footer>
</body>

</html>