.business-card {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: #fff0f0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 5px 5px 40px -10px rgba(0,0,0,0.75);
}

.business-card span {
    font-size: 32px;
}

.business-card .website {
    position: absolute;
    font-size: 18px;
    bottom: 10px;
}

.business-card .email {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
}

.business-card .company {
    position: absolute;
    right: 10px;
    top: 3px;
    width: 150px;
}