@font-face {
    font-family: Barlow;
    src: url(../fonts/Barlow-Regular.woff2);
}

@font-face {
    font-family: Barlow;
    src: url(../fonts/Barlow-Bold.woff2);
    font-weight: bold;
}

:root {
    --body-background-color: #DBD2E0;
    --main-background-color: #AFC186;
    --primary-color: #000724;
    --text-color: rgb(0, 0, 141);
}

body {
    background-color: var(--body-background-color);
    color: var(--text-color);
    font-family: Barlow;
    font-size: 1.5rem;
}

main {
    background-color: var(--main-background-color);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    border: solid 10px var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}