@font-face {
    font-family: Barlow;
    src: url(../fonts/Barlow-Regular.woff2);
}

@font-face {
    font-family: Barlow;
    src: url(../fonts/Barlow-Bold.woff2);
    font-weight: bold;
}

:root {
    --body-background-color: #DBD2E0;
    --main-background-color: #AFC186;
    --primary-color: #000724;
    --text-color: rgb(0, 0, 141);
}

body {
    background-color: var(--body-background-color);
    color: var(--text-color);
    font-family: Barlow;
    font-size: 1.5rem;
}

main {
    background-color: var(--main-background-color);
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    border: solid 10px var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

img.gh-activity {
    max-width: 100%;
}

section#articles time {
    font-size: 1rem;
}

section#social-links a {
    display: inline-block;
}

#credits {
    margin-top: 2rem;
    text-align: center;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}
